body 
{
  background: white;
}

.main-container {
  background-color: red;
  width: 100%;
  height: 80%;
}

.left-panel {
  background-color: #808080;
  float: left;
  width: 33.3%;
  height: 100%;
}

.center-panel {
  background-color: #909090;
  float: left;
  width: 33.3%;
  height: 100%;
}

.right-panel {
  background-color: #808080;
  float: left;
  width: 33.3%;
  height: 100%;
}

.status-bar {
  background-color: #A0A0A0;
}

.button {
  background-color: #e1e1e1;
  width: 120px;
  height: 120px;
  margin: 5px;
  float: left;
  text-align: center;
  line-height: 120px;
  font-size: 26px;
  border-radius: 4px;
  cursor: hand;
  font-weight: bold;
}

.button-row {
  clear: left;
}

.numpad {
  border: 6px solid white;
  width: 390px;
  margin: 0 auto;
}

.clear {
  clear: left;
}

.ticket {
  border: 6px solid white;
  background-color: white;
  width: 70%;
  height: 90%;
  margin: 0 auto;
}

.ticket-header {
  background-color: darkgray;
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 50px;
}

.ticket-order {
  background-color: lightgray;
  width: 100%;
  height: 80%;
}

.ticket-footer {
  background-color: darkgray;
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 100px;
}

.menu {
  border: 6px solid white;
  width: 780px;
  margin: 0 auto;
}

.menu-item {
  background-color: #98d6ff;
}

.menu-row {
  clear: left;
}

.header-section {
  height: 80px;
  font-size: 45px;
  text-align: center;
  line-height: 80px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-order-section {
  background-color: #808080;
}

.header-menu-section {
  background-color: #909090;
}

.header-quantity-section {
  background-color: #808080;
}

.restaurant-name {
  font-size: 1.6em;
  font-weight: bold;
}
